{% extends 'base.html' %}
{% block content %}
{% for course in object_list %}
<div class="panel">
  <h3><a href="{{ course.get_absolute_url }}">{{ course.course }}</a></h3>
  <p>Added By <a href="{% url 'user_detail' slug=course.user.username %}">{{ course.user.username }}</a> on {{course.created_at }}</p>
  <p>{{ course.vote_set.all.count }} Vote{{ course.vote_set.all.count|pluralize }}</p>
  <form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="course" value="{{ course.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    <button>+</button>
  </form>
</div>
{% empty %}
<p>No Results Found.</p>
{% endfor %}
{% endblock %}