{% extends 'base.html' %}
{% block content %}
<h1>{{ class.title }}</h1>
<p>{{ class.description }}</p>
<p>Added By {{ course.user.username }} on {{ course.creaeted_at }}</p>
{% if course.user == user %}
<p><a href="{% url 'course_delete' pk=question.id %}">Delete Class</a></p>
{% endif %}
{% if notes.count > 0 %}
<h3>{{ notes.count }} Note{{ notes.count|pluralize }}:</h3>
{% endif %}
{% for note in notes %}
<div class='panel'>
  <p>{{ note.text }}</p>
  {% if note.user == user %}
  <p><a href="{% url 'note_update' course_pk=course.id note_pk=note.id %}">Edit Note</a></p>
  <p><a href="{% url 'note_delete' course_pk=course.id note_pk=note.id %}">Delete Note</a></p>
  {% endif %}
  <p>Shared by {{ note.user.username }} on {{ note.created_at }}</p>
</div>
{% endfor %}
{% if not user_notes %}
<p><a href="{% url 'note_create' pk=course.id %}">Share Your Note</a></p>
{% endif %}
{% endblock %}