{% extends 'base.html' %}
{% block content %}
<h1>{{ user_in_view.username }}</h1>
<p>E-Mail Address: {{ user_in_view.email }}</p>
<p>First Name: {{ user_in_view.first_name }}</p>
<p>Last Name: {{ user_in_view.last_name }}</p>
{% if user_in_view == user %}
<p><a href="{% url 'user_update' slug=user.username %}">Edit Profile</a></p>
<p><a href="{% url 'user_delete' slug=user.username %}">Delete Account</a></p>
{% endif %}
<h3>Courses ({{ courses.count }})</h3>
{% for course in courses %}
  <p><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></p>
{% endfor %}
<h3>Notes ({{ notes.count }})</h3>
{% for notes in note %}
  <p><a href="{{ note.course.get_absolute_url }}">{{ note.question.title }}</a></p>
  <p>> {{ note.text }}</p>
{% endfor %}
{% endblock %}